/*

Sign Up Left Column, beginning with "Fun Eating Experiences"

*/

#fde{
   margin: 1em auto;
   width: 95%;
}

.sign-up-list-img{
  width: 5.5em;
  margin-bottom: 2em;
  margin-left: 2em;
  position: relative;
  
}

.sign-up-p-left{
  white-space: normal;
  color: white;
  font-size: 150%;
  margin-top: 0.25em;
  margin-right: 2em;
}

.sign-up-underline-span{
  color: #f9f039;
  font-weight: bold;
  text-decoration: underline;
  -moz-text-decoration-color: #f9f039;
  text-decoration-color: #f9f039;
}

#sign-up-left-col{
  position: relative;
  float: left;
}

/*

Right Column

*/

#fde-m{
  /*mobile-only, right column display of "fun dining experiences" image */
   display: none;
}

#top-h1{
  margin-top: 0em;
}

#sign-up-col-right{
  margin-left: 3em;
}

#sign-up-p-right{
  color: white;
  /*white-space: nowrap;*/
}

.primary-submit{
  white-space: normal;
  margin-top: 10px; 
  font-size: 1.5em; 
  padding: 0.5em;
  color: #7f1a67;
  background-color: #f9f039;
  border: 1px solid #f9f039;
  font-weight: bold;
  transition: background 0.5s linear,
              color 0.25s ease,
              border 0.1s linear;
}

.primary-submit:hover  {
  color: #f9f039;
  background-color: #7f1a67;
  border: 1px solid #7f1a67;
  transition: background 0.25s linear,
              color 0.25s ease,
              border 0.25s ease;
}

.secondary-btn{
  white-space: normal;
  margin-top: 10px; 
  font-size: 1.5em; 
  padding: 0.5em;
  color: #000;
  background-color: rgba(208,23,152,0.1);
  border: 1px solid #fff;
  font-weight: bold;
  transition: background 0.25s linear,
              color 0.25s ease,
              border 0.1s ease;
}

.secondary-btn:hover{

  margin-top: 10px; 
  font-size: 1.5em; 
  padding: 0.5em;
  color: transparent;
  background-color: rgba(0,0,0,0.6) !important;
  border: 1px solid transparent;
  font-weight: bold;
  transition: background 0.5s linear,
              color 0.5s ease;
}

/*Media Queries - Phone Portrait*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait)
{
  #sign-up-left-col{
   display: none;
  }
  #sign-up-col-right{
    margin: 0em;
  }
  #fde-m{
    display: block;
    margin-top: 1em;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em; 
    width: 95%;
  }
  #sign-up-p-right{
    font-size: 80%;
  }
}







