/* ------------------------------------------------------- */
/*         Styling for Placeholder text in Input elements  */
/* ------------------------------------------------------- */

/*
  Source:
    http://htmlcolorcodes.com/tutorials/css-placeholder-color/
    http://stackoverflow.com/questions/20773665/fail-to-change-placeholder-color-with-bootstrap-3
*/

$placeholdercolor: white;

/* Chrome */
.placeholder-white::-webkit-input-placeholder { 
  color: $placeholdercolor;
  transition: opacity 250ms ease-in-out;
}
.placeholder-white:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

/* Firefox 4 - 18 */
.placeholder-white:-moz-placeholder {
  color: $placeholdercolor;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
.placeholder-white:focus:-moz-placeholder {
  opacity: 0.5;
}

/* Firefox 19+ */
.placeholder-white::-moz-placeholder {
  color: $placeholdercolor;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
.placeholder-white:focus::-moz-placeholder {
  opacity: 0.5;
}

/* IE 10+ */
.placeholder-white:-ms-input-placeholder {
  color: $placeholdercolor;
  transition: opacity 250ms ease-in-out;
}
.placeholder-white:focus:-ms-input-placeholder {
  opacity: 0.5;
}