/* ---------------------------------------- */
/*         Custom Links Classes             */
/* ---------------------------------------- */

@import "../shared";

.a-white, .a-white:link, .a-white:visited {
  color: white;
}
.a-white:hover {
  border-bottom: 2px solid white;
  color: white;
}
.a-white:active {
  color: lightgrey;
  border-bottom: 2px solid lightgrey;
}


.a-purple, .a-purple:link, .a-purple:visited {
  color: $bright-purple;
}
.a-purple:hover {
  border-bottom: 2px solid $dark-purple;
  color: $dark-purple;
}
.a-purple:active {
  color: $dark-gray;
  border-bottom: 2px solid $dark-gray;
}
.a-purple:visited {
  color: $dark-purple;
}


/* Overrides Bootstrap functionality */
table .a-purple:not(.btn), .table .a-purple:not(.btn),
table .a-white:not(.btn), .table .a-white:not(.btn), 
.a-purple, .a-purple:link, .a-purple:hover, .a-purple:active, .a-purple:visited,
.a-white, .a-white:link, .a-white:hover, .a-white:active, .a-white:visited {
  text-decoration: none;
  background-color: transparent;
}


/* For use with FontAwesome icons */
.a-white-icon:hover, .a-white-icon:active { border-bottom: 0; }
.a-white-icon:hover { color: $dark-gray; }
.a-white-icon:active { color: $light-purple; }

.a-purple-icon:hover, .a-purple-icon:active { border-bottom: 0; }
.a-purple-icon:hover { color: $light-purple; }
.a-purple-icon:active { color: $purple; }
