/* --------------------------------- */
/*            btn-purple             */
/* --------------------------------- */

.btn-purple {
  background-color: $purple;
  border-width: 2px;
  border-style: solid;
  border-color: $purple;
  color: $white;
}
.btn-purple:hover { 
  background-color: $white;
  border-color: $purple;
  color: $purple;
}

.btn-purple:focus, 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  background-color: $light-purple;
  border-color: $light-purple;
  color: $white;
}
 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  background-image: none; 
} 
 
.btn-purple.disabled, 
.btn-purple[disabled], 
fieldset[disabled] .btn-purple, 
.btn-purple.disabled:hover, 
.btn-purple[disabled]:hover, 
fieldset[disabled] .btn-purple:hover, 
.btn-purple.disabled:focus, 
.btn-purple[disabled]:focus, 
fieldset[disabled] .btn-purple:focus, 
.btn-purple.disabled:active, 
.btn-purple[disabled]:active, 
fieldset[disabled] .btn-purple:active, 
.btn-purple.disabled.active, 
.btn-purple[disabled].active, 
fieldset[disabled] .btn-purple.active { 
  background-color: lightgray; 
  border-color: $purple;
} 
 
.btn-purple .badge { 
  color: $white; 
  background-color: $purple;
}



/* --------------------------------- */
/*           btn-white               */
/* --------------------------------- */

.btn-white {
  background-color: $white;
  border: 0;
  color: $purple;
}
.btn-white:hover { 
  background-color: $purple;
  color: $white;
}

.btn-white:focus, 
.btn-white:active, 
.btn-white.active, 
.open .dropdown-toggle.btn-white { 
  background-color: $dark-purple;
  color: $white;
}
 
.btn-white:active, 
.btn-white.active, 
.open .dropdown-toggle.btn-white { 
  background-image: none; 
} 
 
.btn-white.disabled, 
.btn-white[disabled], 
fieldset[disabled] .btn-white, 
.btn-white.disabled:hover, 
.btn-white[disabled]:hover, 
fieldset[disabled] .btn-white:hover, 
.btn-white.disabled:focus, 
.btn-white[disabled]:focus, 
fieldset[disabled] .btn-white:focus, 
.btn-white.disabled:active, 
.btn-white[disabled]:active, 
fieldset[disabled] .btn-white:active, 
.btn-white.disabled.active, 
.btn-white[disabled].active, 
fieldset[disabled] .btn-white.active { 
  background-color: lightgray; 
  border-color: $purple;
} 
 
.btn-white .badge { 
  color: $white; 
  background-color: $purple;
}


/* --------------------------------- */
/*            btn-branded            */
/* --------------------------------- */
$btn-branded-color: #FFFFFF;
$btn-branded-background: transparent;
$btn-branded-border-color: #FFFFFF;
$btn-branded-background-active: rgba(127, 26, 103, 0.75); /// #7f1a67

.btn-branded { 
  color: $btn-branded-color; 
  background-color: $btn-branded-background; 
  border: 0;
} 
.btn-branded:hover {
  background-color: $btn-branded-background;
  border: 2px solid $btn-branded-border-color; 
}
.btn-branded.btn:hover,
.btn-branded.btn-md:hover { padding: 8px 13px; }
.btn-branded.btn-lg:hover { padding: 16px 25px; }
.btn-branded.btn-sm:hover { padding: 4px  7px; }
.btn-branded.btn-xs:hover {
  border-width: 1px;
  padding: 0  4px;
}

.btn-branded:focus, 
.btn-branded:active, 
.btn-branded.active, 
.open .dropdown-toggle.btn-branded { 
  color: $btn-branded-color;
  background-color: $btn-branded-background-active;
  border-color: $btn-branded-border-color;
}
 
.btn-branded:active, 
.btn-branded.active, 
.open .dropdown-toggle.btn-branded { 
  background-image: none; 
} 
 
.btn-branded.disabled, 
.btn-branded[disabled], 
fieldset[disabled] .btn-branded, 
.btn-branded.disabled:hover, 
.btn-branded[disabled]:hover, 
fieldset[disabled] .btn-branded:hover, 
.btn-branded.disabled:focus, 
.btn-branded[disabled]:focus, 
fieldset[disabled] .btn-branded:focus, 
.btn-branded.disabled:active, 
.btn-branded[disabled]:active, 
fieldset[disabled] .btn-branded:active, 
.btn-branded.disabled.active, 
.btn-branded[disabled].active, 
fieldset[disabled] .btn-branded.active { 
  background-color: $btn-branded-background-active; 
  border-color: $btn-branded-border-color; 
} 
 
.btn-branded .badge { 
  color: #7f1a67;
  background-color: $btn-branded-color;
}


/* --------------------------------- */
/*        btn-branded-bordered       */
/* --------------------------------- */
$bordered-background:         rgba(127, 26, 103, 0.6);    /// #7f1a67
$bordered-background-hover:   rgba(127, 26, 103, 0.8);    /// #7f1a67
$bordered-background-active:  rgba(127, 26, 103, 0.95);   /// #7f1a67

.btn-branded-bordered { 
  background-color: $bordered-background;
  border: 2px solid $btn-branded-border-color; 
  font-weight: 900;
} 
.btn-branded-bordered:hover {
  background-color: $bordered-background-hover;
  border-color: $btn-branded-border-color;
}

.btn-branded-bordered:focus, 
.btn-branded-bordered:active, 
.btn-branded-bordered.active, 
.open .dropdown-toggle.btn-branded-bordered { 
  color: $btn-branded-color;
  background-color: $btn-branded-background-active;
}
 
.btn-branded-bordered:active, 
.btn-branded-bordered.active, 
.open .dropdown-toggle.btn-branded-bordered { 
  background-image: none; 
} 
 
.btn-branded-bordered.disabled, 
.btn-branded-bordered[disabled], 
fieldset[disabled] .btn-branded-bordered, 
.btn-branded-bordered.disabled:hover, 
.btn-branded-bordered[disabled]:hover, 
fieldset[disabled] .btn-branded-bordered:hover, 
.btn-branded-bordered.disabled:focus, 
.btn-branded-bordered[disabled]:focus, 
fieldset[disabled] .btn-branded-bordered:focus, 
.btn-branded-bordered.disabled:active, 
.btn-branded-bordered[disabled]:active, 
fieldset[disabled] .btn-branded-bordered:active, 
.btn-branded-bordered.disabled.active, 
.btn-branded-bordered[disabled].active, 
fieldset[disabled] .btn-branded-bordered.active { 
  background-color: $btn-branded-background-active; 
  border-color: $btn-branded-border-color; 
} 
 
.btn-branded-bordered .badge { 
  color: #7f1a67;
  background-color: $btn-branded-color;
}