/* ---------------------------------------- */
/*            Shared Variables              */
/* ---------------------------------------- */

$dark-purple: #9a207d;
$purple: #7f1a67;
$light-purple: #B05499;
$bright-purple: #b71c8d;


$black: #000000;
$white: #FFFFFF;
$light-gray: #f8f8f8;
$dark-gray: #7f7f7f;

$background-color: #b71c8d;
$background-color-100: rgba(183, 28, 141, 1);
$background-color-80: rgba(183, 28, 141, .8);


// BootStrap Sizes
$size-min-sm: 768px;
$size-min-md: 992px;
$size-min-lg: 1200px;