/* ---------------------------------------- */
/*         General Helper Classes           */
/* ---------------------------------------- */

@import "shared";

// Background
.bg-darkpurple { background-color: $dark-purple;}
.bg-white { background-color: white; }
.bg-transparent { background-color: transparent; }

// Borders
.border-darkgray { border-color: $dark-gray; }
.border-purple { border-color: $purple; }
.border-radius-0 { border-radius: 0; }

// Box Shadow
.box-shadow-remove {
  box-shadow: 0 0 0 transparent;
}

// Color
.text-darkgray { color: $dark-gray; }
.text-purple { color: $background-color; }
.text-white { color: white; }

// Font Manipulation
.italic { font-style: italic; }
.bold { font-weight: bold; }

// Spacing
.margin-0-auto { margin: 0 auto; }
.margin-0 { margin: 0; }
.margin-1 { margin: 1em; }
.margin-top-half { margin-top: .5em; }
.margin-top-1 { margin-top: 1em; }
.margin-top-2 { margin-top: 2em; }
.margin-bottom-half { margin-bottom: .5em; }
.margin-bottom-2 { margin-bottom: 2em; }
.min-width-150px { min-width: 150px; }
.padding-0 { padding: 0; }
.padding-1 { padding: 1em; }
.padding-2 { padding: 2em; }
.padding-5 { padding: 5em; }
.padding-top-1 { padding-top: 1em; }
.width-75px { width: 75px; }
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}


// Table
.td-center td { text-align: center; }
.th-right th { text-align: right; }
.td-50 td, .th-50 th { width: 50%; }
.td-v-middle td,
.th-v-middle th,
.td-v-middle.table td,
.td-v-middle.table th {
     vertical-align: middle;
}

// Text Shadow
.text-outline-black {
  text-shadow: -1px 0 1px black, 0 2px 2px black, 2px 0 2px black, 0 -1px 1px black;
}

// Width
.width-100 { width: 100%; }

// ------------------------------------------------------
// Display by media query
// ------------------------------------------------------

/* lg: Desktops */
@media only screen and (min-width : 769px) {
  .mobile-only { display: none !important; }
  .desktop-only { display:block !important; } 
}

/* sm: Tablets */
@media only screen and (max-width : 768px) {
  .mobile-only { display: block !important; }
  .desktop-only { display:none !important; }
}
// ------------------------------------------------------