.social-login-wrap {
  color: white;
  font-size: 1.3em;
  margin: 5px 0;
  padding:10px;
  min-height: 50px;
  max-height: 50px;
  border-radius: 4px;
}
.facebook {
  background: url(http://dl.dropbox.com/u/109135764/facebookf.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c74c4), color-stop(100%, #3b5998));
  background-size: 25px 25px, cover;
  background-position: 10px center, center center;
  background-repeat: no-repeat, repeat;
}
.facebook:hover {
  background: url(http://dl.dropbox.com/u/109135764/facebookf.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b5998), color-stop(100%, #4c74c4));
  background-size: 25px 25px, cover;
  background-position: 10px center, center center;
  background-repeat: no-repeat, repeat;
}